.sign{
	position: relative;
	display: inline-grid;
	line-height: 1.2;
}

.panel .sign, .panel .whitespace{ /* Make the cuneiform smaller in the right panel */
	font-size: 1.33em;
}

.word{ /* Don't break lines within a word if possible */
	white-space: nowrap;
}

.aa-hittite .read{ /* Avoid incorrect italics and caps inside tutorials */
	font-style: normal;
	text-transform: none;
}

.whitespace{
	margin-left: 0.33ch;
	margin-right: 0.33ch;
}

.size-small .sign, .size-small .whitespace{
	font-size: 1em;
}
.size-medium .sign, .size-medium .whitespace{
	font-size: 1.67em;
}
.size-large .sign, .size-large .whitespace{
	font-size: 2.5em;
}

.sign .glyph{
	grid-area: 1 / 1;
	visibility: visible;
	font-style: normal;
	font-synthesis-style: none; /* Don't make fake italics please! */
	/* Fake bold is okay though, the stroke widths scale up just fine */
}

.sign .read{
	grid-area: 1 / 1;
	display: none;
	font-size: 0.75em;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
}

.size-small .sign .read{
	font-size: 1em; /* 0.75 is too small for the small size */
}

.sign:hover .glyph{
	/* visibility: hidden; */
	opacity: 0.25;
}

.sign:hover .read{
	display: block;
}

.bound{
	display: none;
}

.translit{
	display: inline;
}

.showbound .bound{
	display: inline;
}

.showbound .bound ~ .translit{ /* Only hide the translit element if a bound element exists; this ensures .signs elements (with no bound transcription) don't disappear entirely */
	display: none;
}

.header{ /* Top bar with dropdowns */ /* CURRENTLY DISABLED */
	width: auto;
	margin: auto;
	font-size: smaller;
	top: 0;
	text-align: center;
}

.aa-dtm .read{
	vertical-align: super;
	font-size: smaller;
}

.bound .aa-dtm{
	vertical-align: super;
	font-size: smaller;
}

.aa-dtm2 .read{
	vertical-align: super;
	font-size: smaller;
}

.bound .aa-dtm2{
	vertical-align: super;
	font-size: smaller;
}

@font-face{
	font-family: CuneiInk;
	src: url("../ishamai/fonts/ArmannisNew.woff2");
}
@font-face{
	font-family: CuneiPublished;
	src: url("../ishamai/fonts/MittellinienNew.woff2");
}
@font-face{
	font-family: CuneiHandwrite;
	src: url("../ishamai/fonts/PenstrokeNew.woff2");
}
@font-face{
	font-family: CuneiLinear;
	src: url("../ishamai/fonts/LinearNew.woff2");
}

.font-ink .glyph{
	font-family: CuneiInk;
}
.font-publish .glyph{
	font-family: CuneiPublished;
}
.font-write .glyph{
	font-family: CuneiHandwrite;
}
.font-linear .glyph{
	font-family: CuneiLinear;
}
